<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
</head>
<body>
  <div id="Galeria">
    <h1><%= title %> </h1>

         <p> Saludos cordiales, mi nombre es Ernesto ,estamos haciendo pruebas para agregar 
         musica  ,fotos y videos...Un Saludo desde El Salvador..  </p>
          <audio controls>
            <source src= "images/armivan.mp3" type= "audio/mpeg" control>
          </audio>
        
        <p>Algunas fotos ... </p>

              
        
              <img id="imgMostrar"src="images/Principal.jpg" class="img-thumbnail">
        
              </div>
       <p>Galeria de fotos. </p>

       <div id="galeria_miniaturas">
           <img class="miniatura" src="images/yo.png" 
           onclick="document.getElementById('imgMostrar').src='images/yo.png';">
           <img class="miniatura" src="images/2.jpg" 
           onclick="document.getElementById('imgMostrar').src='images/2.jpg';">
           <img class="miniatura" src="images/3.jpg" 
           onclick="document.getElementById('imgMostrar').src='images/3.jpg';">
           <img class="miniatura" src="images/4.jpg" 
           onclick="document.getElementById('imgMostrar').src='images/4.jpg';">
           <img class="miniatura" src="images/5.jpg" 
           onclick="document.getElementById('imgMostrar').src='images/5.jpg';">
      </div>
      <p>Comparto el video para que puedan apreciar el talento... </p>

       
       <div id="galeria_principala">
           <object class="embed-responsive-item">
          <video controls 
              <source  src="images/boliche.mp4"   id="imgMostrar" class="flex-video widescreen" >
          </audio> </object>
       </div>


             

  </div>
    

     <p> <a href="/"  class="btn btn-info" role="button">Inicio </a></p>
</body>
</html>
