


<div class="row">
    <div class="thumbnail col-sm-4 col-sm-offset-4">
       <p> Saludos cordiales, mi nombre es Ernesto ,estamos haciendo pruebas para agregar 
         musica  ,fotos y videos...Un Saludo desde El Salvador..  </p>
          <audio controls>
            <source src= "images/armivan.mp3" type= "audio/mpeg" control>
          </audio>
        
   

      
      <p>Comparto el video para que puedan apreciar el talento... </p>

       
       <div id="galeria_principala">
           <object class="embed-responsive-item">
          <video controls 
              < source src="images/boliche.mp4"   id="imgMostrar" >
          </audio> </object>
       </div>

    </div>
</div>