body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


}



#imgMostrar {
border: 1px solid #F2F2F2;
border-radius: 10px;
width: 504px;
height: 400px;
margin: center;
}

#galeria_miniaturas{
	display: table;
     margin: center;
}

.miniatura {
width:  330px;
height:  360px;
border-radius: 10px;
float: left;
cursor: pointer;
padding: 5px;
margin:center;
}









a {
  color: #00B7FF;
}